In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

print("✅ All visualization and analysis libraries imported successfully!")

✅ All visualization and analysis libraries imported successfully!

In [4]:
import os
print(os.getcwd())

c:\Users\ABDUL\OneDrive\Documents\healthcare-insurance-analysis

In [5]:
# --------------------------------
# Step 2: Load Dataset (Extract)
# --------------------------------
df = pd.read_csv("data/insurance.csv")

print("✅ Data loaded successfully!")
print("Shape of dataset:", df.shape)
df.head()

✅ Data loaded successfully!
Shape of dataset: (1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
# --------------------------------
# Step 3: Check the Data
# --------------------------------
print("Missing values per column:")
print(df.isnull().sum())

print("\nData types:")
print(df.dtypes)

Missing values per column:
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Data types:
age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
# --------------------------------
# Step 4: Clean and Transform Data
# --------------------------------

# 1. Check for duplicate rows (just in case)
duplicates = df.duplicated().sum()
print("Number of duplicate rows:", duplicates)

# 2. Remove duplicate rows if any exist
df = df.drop_duplicates()

# 3. Convert all column names to lowercase (optional)
df.columns = df.columns.str.lower()

# 4. Create a new column for BMI categories
# This groups BMI values into categories
df['bmi_category'] = pd.cut(
    df['bmi'],
    bins=[0, 18.5, 24.9, 29.9, 100],
    labels=['Underweight', 'Normal', 'Overweight', 'Obese']
)

# 5. Print a simple message and show first few rows
print("Data cleaned and transformed successfully.")
df.head()

Number of duplicate rows: 1
Data cleaned and transformed successfully.

   age     sex     bmi  children smoker     region      charges bmi_category
0   19  female  27.900         0    yes  southwest  16884.92400   Overweight
1   18    male  33.770         1     no  southeast   1725.55230        Obese
2   28    male  33.000         3     no  southeast   4449.46200        Obese
3   33    male  22.705         0     no  northwest  21984.47061       Normal
4   32    male  28.880         0     no  northwest   3866.85520   Overweight

In [5]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is EA4D-2E67

 Directory of c:\Users\ABDUL\OneDrive\Documents\healthcare-insurance-analysis

15/10/2025  13:40    <DIR>          .
14/10/2025  21:47    <DIR>          ..
15/10/2025  13:40    <DIR>          data
15/10/2025  13:40             4,552 day1_analysis.ipynb
15/10/2025  13:40                 0 main.py
15/10/2025  13:40             5,024 README.md
               3 File(s)          9,576 bytes
               3 Dir(s)  176,134,164,480 bytes free

In [6]:
import os
print(os.getcwd())

c:\Users\ABDUL\OneDrive\Documents\healthcare-insurance-analysis

In [7]:
import os
os.chdir(r"C:\Users\ABDUL\Documents")

In [8]:
print(os.getcwd())

C:\Users\ABDUL\Documents

In [9]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is EA4D-2E67

 Directory of C:\Users\ABDUL\Documents

01/07/2025  18:52    <DIR>          .
15/10/2025  13:40    <DIR>          ..
               0 File(s)              0 bytes
               2 Dir(s)  176,131,588,096 bytes free

In [10]:
import os
os.chdir(r"C:\Users\ABDUL\OneDrive\Documents")
!dir

 Volume in drive C has no label.
 Volume Serial Number is EA4D-2E67

 Directory of C:\Users\ABDUL\OneDrive\Documents

14/10/2025  21:47    <DIR>          .
15/10/2025  08:14    <DIR>          ..
15/10/2025  13:40    <DIR>          healthcare-insurance-analysis
13/10/2024  17:10           453,593 hidai nurse.pdf
22/09/2025  14:36    <DIR>          my-project
23/07/2025  15:26    <DIR>          SnapDropFiles
20/07/2025  15:05            13,906 UC Expencies.docx
28/09/2025  14:07    <DIR>          vscode-projects
               2 File(s)        467,499 bytes
               6 Dir(s)  176,131,207,168 bytes free

In [13]:
import pandas as pd

# Load the dataset using the full file path
df = pd.read_csv(r"C:\Users\ABDUL\OneDrive\Documents\healthcare-insurance-analysis\data\insurance.csv")

# Check the number of rows and columns
print(df.shape)

# Preview the first 5 rows
df.head()
# Number of rows and columns
print("Shape of dataset:", df.shape)

(1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [1]:
import pandas as pd

# Read the data
df = pd.read_csv("data/insurance.csv")

# Display the first 5 rows
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
import pandas as pd

df = pd.read_csv('insurance.csv')
print(df.shape)