In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

print("All libraries imported successfully!")

All libraries imported successfully!

In [4]:
df = pd.read_csv(r"C:\Users\ABDUL\OneDrive\Documents\healthcare-insurance-analysis\data\insurance_cleaned.csv")
print("Data loaded successfully!")
print(df.shape)
df.head()

Data loaded successfully!
(1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
print("Missing values per column:")
print(df.isnull().sum())

print("\nDuplicate rows:", df.duplicated().sum())

print("\nData types:")
print(df.dtypes)

print("\nUnique values per categorical column:")
for col in ['sex', 'smoker', 'region']:
    print(f"{col}: {df[col].unique()}")

Missing values per column:
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Duplicate rows: 1

Data types:
age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

Unique values per categorical column:
sex: ['female' 'male']
smoker: ['yes' 'no']
region: ['southwest' 'southeast' 'northwest' 'northeast']

In [7]:
# Extract
df = pd.read_csv("data/insurance_cleaned.csv")

# Transform
df.columns = df.columns.str.lower()
df = df.drop_duplicates()

# Load
print("Data ready for analysis!")

# Test / Validate
print("\nETL Pipeline Test Results:")
print("Missing values per column:")
print(df.isnull().sum())
print("\nDuplicate rows:", df.duplicated().sum())
print("\nData types:")
print(df.dtypes)

Data ready for analysis!

ETL Pipeline Test Results:
Missing values per column:
age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Duplicate rows: 0

Data types:
age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object